@inject Spider_EMT.Repository.Skeleton.ICurrentUserService _currentUserService

@using Spider_EMT.Utility
@inject IHttpContextAccessor HttpContextAccessor
@functions {
    public string GetTokenAMR(HttpContext context)
    {
        if (context == null)
        {
            return null;
        }
        // Retrieve the tokenC value from session
        return JWTCookieHelper.GetJWTAMRToken(context);
    }
}

@{
    var tokenAMR = GetTokenAMR(HttpContextAccessor.HttpContext);
    var principal = _currentUserService.GetPrincipalFromToken(tokenAMR);
    @if (principal.Identity.IsAuthenticated)
    {
        <form method="post" asp-page="/Account/Logout" style="display: inline;">
            <a class="nav-link logout-link" href="javascript:void(0);" onclick="event.preventDefault(); this.closest('form').submit();" role="button">
                <i class="fas fa-power-off"></i>
            </a>
        </form>
    }
}
