@page
@model Spider_EMT.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
    TempData["NavigationalPageName"] = "Access Denied";
}

<div>
    <h6>Access Denied</h6>
    <p>You dont have access to the page you are looking for.</p>
</div>