@page
@model Spider_EMT.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
    TempData["NavigationalPageName"] = "Access Denied";
}

<div>
    <h6>Access Denied</h6>
    <p>You do not have permission to access the page: @ViewData["ReturnUrl"]</p>
</div>
