@page
@model Spider_EMT.Pages.Account.LoginTwoFactorWithAuthenticatorModel
@{
    ViewData["Title"] = "Two Factor Authenticator";
    TempData["NavigationalPageName"] = "Two Factor Authenticator";
}

<div class="mb-2" style="display:flex; flex-direction:column;justify-content:space-evenly;">
    <form method="post">
        <div class="container form-control pt-4 pb-2" style="height:auto; background-color: #f4f0ec; width:45rem;">
            <div class="container form-control border-2 mb-2" style="display:flex; justify-content:space-around;height:auto; flex-direction:column;">
                <div class="row pb-1 pt-2">
                    <div style="color:#17a2b8; text-align:center; font-size:1.7rem;">Two Factor Login</div>
                    <div>
                        <hr />
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="card-title fw-bold">Two Factor Login</div>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Validation Summary -->
                        <div asp-validation-summary="All" class="text-danger fw-bold"></div>

                        <div class="mb-3">
                            <label asp-for="AuthenticatorMFAData.SecurityCode" class="form-label" style=""></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-atom"></i></span>
                                </div>
                                <input type="text" asp-for="AuthenticatorMFAData.SecurityCode" placeholder="Please enter the security code from your authenticator" class="form-control" />
                            </div>
                            <span asp-validation-for="AuthenticatorMFAData.SecurityCode" class="text-danger fw-bold"></span>
                        </div>

                        <!-- Buttons for form submission -->
                        <div style="display: flex; justify-content:space-around;height:auto;">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-3 me-4">
                                    <button type="submit" class="btn create-btn" style="width:140px;">
                                        <i class="fas fa-check-circle"></i> Verify
                                    </button>
                                </div>
                                <div class="col-4 ms-3">
                                    <button type="button" class="btn btn-outline-danger" style="width:140px;" onclick="logoutUser();">
                                        <i class="fas fa-sign-out-alt"></i> Logout
                                    </button>
                                </div>
                                <div class="col-3"></div>
                                <input type="hidden" asp-for="AuthenticatorMFAData.RememberMe" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section scripts {
    <partial name="_ValidationScriptsPartial" />
}