@page
@model Spider_EMT.Pages.Account.ResetPasswordModel
@{
    ViewData["Title"] = "MFA Setup";
    TempData["NavigationalPageName"] = "MFA Setup";
}
<div class="mb-2" style="display:flex; flex-direction:column;justify-content:space-evenly;">
    <form method="post">
        <div class="container form-control pt-4 pb-2" style="height:auto; background-color: #f4f0ec; width:45rem;">
            <div class="container form-control border-2 mb-2" style="display:flex; justify-content:space-around;height:auto; flex-direction:column;">
                <div class="row pb-1 pt-2">
                    <div style="color:#17a2b8; text-align:center; font-size:1.7rem;">Two Factor Login</div>
                    <div>
                        <hr />
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="card-title fw-bold">Two Factor Login</div>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Validation Summary -->
                        <div asp-validation-summary="ModelOnly" class="text-danger fw-bold"></div>
                        <input asp-for="Input.Code" type="hidden" />
                        <div class="mb-3" style="display: flex; justify-content: space-between;">
                            <div style="flex: 1; margin-right: 10px;">
                                <label asp-for="Input.Email" class="form-label"></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <input type="email" asp-for="Input.Email" autocomplete="username" placeholder="Email Address" class="form-control" />
                                </div>
                                <span asp-validation-for="Input.Email" class="text-danger fw-bold"></span>
                            </div>
                        </div>

                        <div class="mb-3" style="display: flex; justify-content: space-between;">
                            <div style="flex: 1; margin-right: 10px;">
                                <label asp-for="Input.Password" class="form-label"></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                    </div>
                                    <input type="password" asp-for="Input.Password" autocomplete="new-password" placeholder="New Password" class="form-control" />
                                </div>
                                <span asp-validation-for="Input.Password" class="text-danger fw-bold"></span>
                            </div>
                        </div>

                        <div class="mb-3" style="display: flex; justify-content: space-between;">
                            <div style="flex: 1; margin-right: 10px;">
                                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                    </div>
                                    <input type="password" asp-for="Input.ConfirmPassword" autocomplete="new-password" placeholder="Confirm New Password" class="form-control" />
                                </div>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger fw-bold"></span>
                            </div>
                        </div>

                        <!-- Buttons for form submission -->
                        <div style="display: flex; justify-content:space-around;height:auto;">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-3 me-4">
                                    <button type="submit" class="btn create-btn" style="width:140px;">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}