USE [SpiderETMDB]
GO
/****** Object:  StoredProcedure [dbo].[uspDeleteUserProfile]    Script Date: 21-05-2024 15:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Your Name
-- Create date: YYYY-MM-DD
-- Description: Insert New Relationship between User & Profile
-- =============================================
ALTER PROCEDURE [dbo].[uspDeleteUserProfile]
    -- Add the parameters for the stored procedure here
	@UserId INT
AS
BEGIN
    
    SET NOCOUNT ON;

    BEGIN TRY
        -- Delete User Profile
		IF EXISTS (SELECT 1 FROM [AspNetUserRoles] WHERE UserId = @UserId)
			BEGIN
				DELETE FROM [AspNetUserRoles] where UserId = @UserId
			END

    END TRY

    BEGIN CATCH
        -- Handle exceptions
        SELECT
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_MESSAGE() AS ErrorMessage,
            ERROR_SEVERITY() AS ErrorSeverity,
            ERROR_STATE() AS ErrorState,
            ERROR_LINE() AS ErrorLine,
            ERROR_PROCEDURE() AS ErrorProcedure;

    END CATCH;

END
