@page
@model Spider_EMT.Pages.CreateUserAccessControlModel
@{
    ViewData["Title"] = "Create User Access Control";
    TempData["NavigationalPageName"] = "Create User Access Control";
}

<partial name="_Notification" />

<div class="mb-2" style="display:flex; flex-direction:column;justify-content:space-evenly;">
    <form method="post" onsubmit="prepareFormSubmission();">
        <div id="createAccessSection" class="container form-control pt-4 pb-2" style="height:auto; background-color: #f4f0ec; width:70%">
            <input type="hidden" id="SelectedProfileId" name="SelectedProfileId" />
            <input type="hidden" id="SelectedProfileName" name="SelectedProfileName" />
            <input type="hidden" id="SelectedPagesJson" name="SelectedPagesJson" />

            <div class="container form-control border-2 mb-2" style="display:flex; justify-content:space-around;height:auto; flex-direction:column;">
                <div class="row pb-1 pt-2">
                    <div style="color:#17a2b8; text-align:center; font-size:1.7rem;">Create Profile Association With Pages</div>
                    <div>
                        <hr />
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="card-title fw-bold">User Details</div>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="row ms-2">
                            <!-- Add radio buttons for Default View and Top View -->
                            <div class="col-4" id="profileTypeViewContainer">
                                <label class="mt-2">Changes For: </label><br />
                                <label><input class="form-check-input" type="radio" name="profileType" value="oldProfile" checked> Select Existing Profile</label><br />
                                <label><input class="form-check-input" type="radio" name="profileType" value="newProfile"> Create New Profile</label>
                            </div>

                            <!-- Profile Dropdown -->
                            <div class="col mb-3" id="profileDropdownDiv" style="display:none;">
                                <label for="ProfileId" class="form-label">Select Profile</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <select id="ProfileId" class="form-select striped-select" name="ProfileId">
                                        <option value="" disabled selected>Select a Profile</option>
                                        @foreach (var profile in Model.AllProfilesData)
                                        {
                                            <option value="@profile.ProfileId">@profile.ProfileName</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <!-- Profile Input-->
                            <div id="profileInputDiv" class="col mb-3" style="display:none;">
                                <label for="ProfileName" class="form-label">Profile Name</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                                    </div>
                                    <input id="ProfileName" placeholder="Profile Name" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <hr />

                        <!-- Checkboxes to select pages -->
                        <div class="mb-3">
                            <label class="form-label">Select Pages</label>
                            <div id="pageCheckboxContainer" class="form-check" style="display: flex; flex-wrap: wrap; column-gap: 10px; justify-content: flex-start;">
                                <!-- Checkboxes will be dynamically rendered here -->
                            </div>
                        </div>
                        <div style="display: flex; justify-content:space-around;height:auto;">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-3 me-4">
                                    <button type="submit" class="btn create-btn" style="width:140px;">Create</button>
                                </div>
                                <div class="col-4 ms-3">
                                    <a asp-page="/Index" class="btn btn-secondary" style="width:180px;"> Back to Transactions</a>
                                </div>
                                <div class="col-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/createUserAccessControl.js"></script>
    <script>
        // Serialize the pages and categories models into JSON objects
        var availablePagesLst = @Html.Raw(Json.Serialize(Model.AllPageSites));
        var selectedPagesLst = [];
    </script>
}