@page
@model Spider_EMT.Pages.CreateUserProfileModel
@{
    ViewData["Title"] = "Create User";
    TempData["NavigationalPageName"] = "Create User";
}

<div class="mb-2" style="display:flex; flex-direction:column;justify-content:space-evenly;">
    <form asp-page-handler="Submit" id="createProfileForm">
        <div id="createProfileSection" class="container form-control pt-4 pb-2" style="height:auto; background-color: #f4f0ec; width:60%;">

            <div class="container form-control border-2 mb-2" style="display:flex; justify-content:space-around; height:auto; flex-direction:column;">
                <div class="row pb-1 pt-2">
                    <div style="color:#17a2b8; text-align:center; font-size:1.7rem; font-weight:500">CREATE NEW USER</div>
                    <div>
                        <hr />
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="card-title fw-bold" style="font-size:1.2rem">User Details</div>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Validation Summary -->
                        <div asp-validation-summary="All" class="text-danger fw-bold"></div>

                        <!-- Profile Picture Field -->
                        <div class="text-center">
                            <div class="position-relative d-inline-block mx-auto mb-4">
                                @if (Model.UserProfilePathUrl != null)
                                {
                                    <img src="@Model.UserProfilePathUrl" class="rounded-circle img-thumbnail" style="width: 150px; height: 150px;" id="loadedProfilePicture">
                                }
                                <div class="position-absolute bottom-0 end-0 rounded-circle bg-light p-1" style="transform: translate(20%, 20%);">
                                    <input class="d-none" asp-for="ProfileUsersData.PhotoFile" type="file" id="profile-img-file-input" />
                                    <label for="profile-img-file-input" class="rounded-circle bg-gradient-blue p-2" style="cursor: pointer; width: 40px; height: 40px;">
                                        <i class="ion ion-android-camera" style="font-size: 1.5rem;"></i>
                                    </label>
                                </div>
                            </div>
                            <span asp-validation-for="ProfileUsersData.PhotoFile" class="text-danger fw-bold"></span>
                        </div>

                        <!-- User ID and ID Number on one line -->
                        <div class="mb-3" style="display: flex; justify-content: space-between;">
                            <div style="flex: 1;">
                                <label asp-for="ProfileUsersData.IdNumber" class="form-label"></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-id-badge"></i></span>
                                    </div>
                                    <input type="text" asp-for="ProfileUsersData.IdNumber" placeholder="National/Iqama Number" class="form-control" data-field="IdNumber" />
                                </div>
                                <span asp-validation-for="ProfileUsersData.IdNumber" class="text-danger fw-bold" id="IdNumber-validation"></span>
                            </div>
                        </div>

                        <!-- Full Name Field -->
                        <div class="mb-3">
                            <label asp-for="ProfileUsersData.FullName" class="form-label"></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                </div>
                                <input type="text" asp-for="ProfileUsersData.FullName" placeholder="Full Name" class="form-control" />
                            </div>
                            <span asp-validation-for="ProfileUsersData.FullName" class="text-danger fw-bold"></span>
                        </div>
                        <!-- Email Field-->
                        <div class="mb-3">
                            <label asp-for="ProfileUsersData.Email" class="form-label"></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input type="email" asp-for="ProfileUsersData.Email" placeholder="Email Address" class="form-control" data-field="Email" />
                            </div>
                            <span asp-validation-for="ProfileUsersData.Email" class="text-danger fw-bold" id="Email-validation"></span>
                        </div>

                        <!-- Username and Mobile Number on one line -->
                        <div class="mb-3" style="display: flex; justify-content: space-between;">
                            <div style="flex: 1; margin-right: 10px;">
                                <label asp-for="ProfileUsersData.Username" class="form-label"></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-cog"></i></span>
                                    </div>
                                    <input type="text" asp-for="ProfileUsersData.Username" placeholder="Username" class="form-control" data-field="Username" />
                                </div>
                                <span asp-validation-for="ProfileUsersData.Username" class="text-danger fw-bold" id="Username-validation"></span>
                            </div>
                            <div style="flex: 1;">
                                <label asp-for="ProfileUsersData.MobileNo" class="form-label"></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                    </div>
                                    <input type="tel" asp-for="ProfileUsersData.MobileNo" placeholder="Mobile Number" class="form-control" data-field="MobileNo" />
                                </div>
                                <span asp-validation-for="ProfileUsersData.MobileNo" class="text-danger fw-bold" id="MobileNo-validation"></span>
                            </div>
                        </div>

                        <!-- New Password field -->
                        <div class="mb-3">
                            <label asp-for="ProfileUsersData.Password" class="form-label"></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" asp-for="ProfileUsersData.Password" placeholder="New Password" class="form-control" />
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-eye-slash" id="togglePasswordVisibility"></i></span>
                                </div>
                            </div>
                            <span asp-validation-for="ProfileUsersData.Password" class="text-danger fw-bold"></span>
                        </div>

                        <!-- ReType New Password field -->
                        <div class="mb-3">
                            <label asp-for="ProfileUsersData.ReTypePassword" class="form-label"></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" asp-for="ProfileUsersData.ReTypePassword" placeholder="Retype New Password" class="form-control" />
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-eye-slash" id="toggleReTypePasswordVisibility"></i></span>
                                </div>
                            </div>
                            <span asp-validation-for="ProfileUsersData.ReTypePassword" class="text-danger fw-bold"></span>
                        </div>

                        <!-- Dropdown to Select Profile Name -->
                        <div class="mb-3">
                            <label asp-for="ProfileUsersData.ProfileSiteData.ProfileName" class="form-label"></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <select asp-for="ProfileUsersData.ProfileSiteData.ProfileName" class="form-select striped-select" id="profileSelect">
                                    <option value="" disabled selected>Select a Profile</option>
                                    @foreach (var profile in Model.ProfilesData)
                                    {
                                        <option value="@profile.ProfileName" data-profileid="@profile.ProfileId">@profile.ProfileName</option>
                                    }
                                </select>
                            </div>
                            <span asp-validation-for="ProfileUsersData.ProfileSiteData.ProfileName" class="text-danger fw-bold"></span>
                        </div>

                        <!-- Hidden fields Profile Id -->
                        <input type="hidden" asp-for="ProfileUsersData.ProfileSiteData.ProfileId" id="profileIdHidden" />

                        <!-- Is Active -->
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="ProfileUsersData.IsActive" id="isActiveCheckbox" />
                                <label class="form-check-label" for="isActiveCheckbox">
                                    Active User
                                </label>
                            </div>
                        </div>

                        <!-- Is Active Directory User -->
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="ProfileUsersData.IsActiveDirectoryUser" id="isActiveDirectoryUserCheckbox" />
                                <label class="form-check-label" for="isActiveDirectoryUserCheckbox">
                                    Active Directory User
                                </label>
                            </div>
                        </div>

                        <!-- Change Password -->
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="ProfileUsersData.ChangePassword" id="changePasswordCheckbox" />
                                <label class="form-check-label" for="changePasswordCheckbox">
                                    Change Password
                                </label>
                            </div>
                        </div>

                        <!-- Buttons for form submission -->
                        <div style="display: flex; justify-content:space-around;height:auto;">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-3 me-4">
                                    <button type="submit" onclick="prepareFormSubmission()" class="btn create-btn" style="width:140px;">Create</button>
                                </div>
                                <div class="col-4 ms-3">
                                    <a asp-page="/Dashboard" class="btn btn-secondary" style="width:180px;"> Back to Dashboard</a>
                                </div>
                                <div class="col-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/createUserProfile.js" asp-append-version="true"></script>
}