@page
@model Spider_EMT.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    TempData["NavigationalPageName"] = "Dashboard";
}

<div class="mb-2" style="display:flex; flex-direction:column;justify-content:space-evenly;">
    <div class="container form-control pt-4 pb-2" style="height:auto; background-color: #f4f0ec; width:60%;">
        <div class="card">
            <div class="card-header">
                <div class="card-title fw-bold" style="font-size:1.2rem">Dashboard Details</div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body align-items-center justify-content-center" style="height:400px; position: relative; display:flex;">
                <div id="draggableText" class="text-center fw-bolder draggable" style="font-size:1.5rem;">
                    <!--
                        <div id="draggableText" class="text-center fw-bolder draggable" style="font-size:1.5rem;color:#333;text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">
                    -->
                
                    SPIDER | Enterprise Monitoring Tools
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}