@page
@model Spider_EMT.Pages.UpdateUserProfileModel
@{
    ViewData["Title"] = "Update User";
    TempData["NavigationalPageName"] = "Update User";
}

<div class="mb-2" style="display:flex; flex-direction:column;justify-content:space-evenly;">
    <div class="container form-control pt-4 pb-2" style="height:auto;background-color: #f4f0ec; width:60%;">
        <div class="container form-control border-2 mb-2 card" style="display:flex; justify-content:space-around; height:auto; flex-direction:column; ">
            <div class="row pb-1 pt-2">
                <div style="color:#17a2b8; text-align:center; font-size:1.7rem;">Update Existing User</div>
                <div>
                    <hr />
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="card-title fw-bold">User Search Box</div>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="All"></div>
                    <!-- Search Section -->
                    <div class="mb-3 form-group">
                        <label for="searchCriteria" class="form-label">
                            Search By 
                        </label>
                        <select id="searchCriteria" class="form-select striped-select" style="width:100%">
                            <option value="UserId">User ID</option>
                            <option value="IdNumber">National/Iqama Number</option>
                            <option value="FullName" selected="selected">Full Name</option>
                            <option value="Email">Email Address</option>
                            <option value="MobileNo">Mobile Number</option>
                            <option value="ProfileName">Profile Name</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="searchInput" class="form-label" >
                            Search
                        </label>
                        <div class="input-group">
                            <input type="text" id="searchInput" class="form-control border-end-0 border" placeholder="Enter search term" />
                            <span class="input-group-append">
                                <button id="searchButtonIcon" class="btn btn-secondary bg-white border-start-0 border" typeof="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                        <div style="display:flex; justify-content:center; gap:10px;">
                            <button id="searchButton" class="btn mt-2" style=" width:140px; background-color:#17a2b8;color:white">Search</button>
                            <button id="clearButton" class="btn btn-secondary mt-2" style=" width:180px;">Clear</button>
                        </div>
                    </div>

                    <div id="resultsCount" class="mb-3" style=" display:none;"></div>
                    <div id="searchResults" class="mb-3 overflow-auto" style="font-size:0.7rem; display:none; max-height: 300px;">
                        <!-- Search results will be displayed here -->
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <button id="selectButton" class="btn btn-success mt-2" style=" display:none; width: 80%">Select</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form id="updateProfileForm" asp-page-handler="Submit">
        <div id="updateProfileSection" class="container form-control pt-4 pb-2 mt-3" style="height:auto; background-color: #f4f0ec; width:60%;display:none;">

            <div class="container form-control border-2 mb-2" style="display:flex; justify-content:space-around; height:auto; flex-direction:column; ">
                <div class="row pb-1 pt-2">
                    <div style="color:#17a2b8; text-align:center; font-size:1.7rem; font-weight:500">UPDATE USER</div>
                    <div>
                        <hr />
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="card-title fw-bold" style="font-size:1.2rem">User Details</div>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Validation Summary -->
                        <div asp-validation-summary="All" class="text-danger fw-bold"></div>

                        <!-- Profile Picture Field -->
                        <div class="text-center">
                            <div class="position-relative d-inline-block mx-auto mb-4">
                                <img src="" class="rounded-circle img-thumbnail" style="width: 150px; height: 150px;" id="loadedProfilePicture">
                                <div class="position-absolute bottom-0 end-0 rounded-circle bg-light p-1" style="transform: translate(20%, 20%);">
                                    <input class="d-none" asp-for="ProfileUsersData.PhotoFile" type="file" id="profile-img-file-input" />
                                    <label for="profile-img-file-input" class="rounded-circle bg-gradient-blue p-2" style="cursor: pointer; width: 40px; height: 40px;">
                                        <i class="ion ion-android-camera" style="font-size: 1.5rem;"></i>
                                    </label>
                                </div>
                            </div>
                            <span asp-validation-for="ProfileUsersData.PhotoFile" class="text-danger fw-bold"></span>
                        </div>

                        <!-- User ID and ID Number on one line -->
                        <div class="mb-3" style="display: flex; justify-content: space-between;">
                            <div style="flex: 1; margin-right: 10px;">
                                <label asp-for="ProfileUsersData.UserId" class="form-label"></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-id-badge"></i></span>
                                    </div>
                                    <input asp-for="ProfileUsersData.UserId" placeholder="User ID" class="form-control" value="ProfileUsersData.UserId" disabled />
                                </div>
                            </div>
                            <div style="flex: 1;">
                                <label asp-for="ProfileUsersData.IdNumber" class="form-label"></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-id-badge"></i></span>
                                    </div>
                                    <input type="text" asp-for="ProfileUsersData.IdNumber" placeholder="National/Iqama Number" class="form-control" data-field="IdNumber" />
                                </div>
                                <span asp-validation-for="ProfileUsersData.IdNumber" class="text-danger fw-bold" id="IdNumber-validation"></span>
                            </div>
                        </div>

                        <!-- Full Name Field -->
                        <div class="mb-3">
                            <label asp-for="ProfileUsersData.FullName" class="form-label"></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                </div>
                                <input type="text" asp-for="ProfileUsersData.FullName" placeholder="Full Name" class="form-control" />
                            </div>
                            <span asp-validation-for="ProfileUsersData.FullName" class="text-danger fw-bold"></span>
                        </div>

                        <!-- Email and Mobile Number on one line -->
                        <div class="mb-3" style="display: flex; justify-content: space-between;">
                            <div style="flex: 1; margin-right: 10px;">
                                <label asp-for="ProfileUsersData.Email" class="form-label"></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <input type="email" asp-for="ProfileUsersData.Email" placeholder="Email Address" class="form-control" data-field="Email" />
                                </div>
                                <span asp-validation-for="ProfileUsersData.Email" class="text-danger fw-bold" id="Email-validation"></span>
                            </div>
                            <div style="flex: 1;">
                                <label asp-for="ProfileUsersData.MobileNo" class="form-label"></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                    </div>
                                    <input type="tel" asp-for="ProfileUsersData.MobileNo" placeholder="Mobile Number" class="form-control" data-field="MobileNo" />
                                </div>
                                <span asp-validation-for="ProfileUsersData.MobileNo" class="text-danger fw-bold" id="MobileNo-validation"></span>
                            </div>
                        </div>

                        <!-- Username -->
                        <div class="mb-3">
                            <label asp-for="ProfileUsersData.Username" class="form-label"></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user-cog"></i></span>
                                </div>
                                <input type="text" asp-for="ProfileUsersData.Username" placeholder="Username" class="form-control" data-field="Username" />
                            </div>
                            <span asp-validation-for="ProfileUsersData.Username" class="text-danger fw-bold" id="Username-validation"></span>
                        </div>

                        <!-- Dropdown to Select Profile Name -->
                        <div class="mb-3">
                            <label asp-for="ProfileUsersData.ProfileSiteData.ProfileName" class="form-label"></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <select asp-for="ProfileUsersData.ProfileSiteData.ProfileName" class="form-select striped-select" id="profileSelect">
                                    <option value="" disabled selected>Select a Profile</option>
                                    @foreach (var profile in Model.ProfilesData)
                                    {
                                        <option value="@profile.ProfileName" data-profileid="@profile.ProfileId">@profile.ProfileName</option>
                                    }
                                </select>
                            </div>
                            <span asp-validation-for="ProfileUsersData.ProfileSiteData.ProfileName" class="text-danger fw-bold"></span>
                        </div>

                        <!-- Hidden fields Profile Id -->
                        <input type="hidden" asp-for="ProfileUsersData.ProfileSiteData.ProfileId" id="profileIdHidden" />

                        <!-- Is Active -->
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="ProfileUsersData.IsActive" id="isActiveCheckbox" />
                                <label class="form-check-label" for="isActiveCheckbox">
                                    Active User
                                </label>
                            </div>
                        </div>

                        <!-- Is Active Directory User -->
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="ProfileUsersData.IsActiveDirectoryUser" id="isActiveDirectoryUserCheckbox" />
                                <label class="form-check-label" for="isActiveDirectoryUserCheckbox">
                                    Active Directory User
                                </label>
                            </div>
                        </div>

                        <!-- Change Password -->
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="ProfileUsersData.ChangePassword" id="changePasswordCheckbox" />
                                <label class="form-check-label" for="changePasswordCheckbox">
                                    Change Password
                                </label>
                            </div>
                        </div>

                        <div style="display: flex; justify-content:space-around;height:auto;">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-3 me-4">
                                    <button type="submit" class="btn create-btn" style="width:140px;">Update</button>
                                </div>
                                <div class="col-4 ms-3">
                                    <a asp-page="/Dashboard" class="btn btn-secondary" style="width:180px;"> Back to Dashboard</a>
                                </div>
                                <div class="col-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/updateUserProfile.js" asp-append-version="true"></script>
}
