@page
@model Spider_EMT.Pages.UserProfileModel
@{
}

@if (TempData["success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.options = {
            "positionClass": "toast-bottom-right", // Set the position to right bottom
        };
        toastr.success('@TempData["success"]');
    </script>
}
@if (TempData["error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.options = {
            "positionClass": "toast-bottom-right", // Set the position to right bottom
        };
        toastr.error('@TempData["error"]');
    </script>
}

<div class="mb-2" style="display:flex; flex-direction:column;justify-content:space-evenly;">
    <form method="post">
        <div id="createProfileSection" class="container form-control pt-4 pb-2" style="height:auto; background-color: #f4f0ec; width:fit-content;font-size:2rem;">

            <div class="container form-control border-2 mb-2" style="display:flex; justify-content:space-around;height:auto; flex-direction:column;font-size:1.5rem;">
                <div class="row pb-1 pt-2">
                    <h2 style="color:#17a2b8; text-align:center; font-size:2rem;">User Profile</h2>
                    <div>
                        <hr />
                    </div>
                </div>
                <div class="mb-3" style="">
                    <label asp-for="userProfileData.ProfileName" class="form-label" style="font-size:1.2rem;"></label>
                    <input id="profileNameInput" asp-for="userProfileData.ProfileName" class="form-control" style="font-size:1.2rem;" value="" />
                    <span asp-validation-for="userProfileData.ProfileName" class="mt-auto text-danger fw-bold" style="font-size:1.2rem;"></span>
                </div>
            </div>

            <!-- Pages -->
            <div class="container form-control border-2 mb-2" style="display: flex; justify-content:space-around;height:auto;">
                <!-- Only Side -->
                <div class="ms-2 me-4 mt-2 mb-2" style="align-self:flex-start">
                    <h3>Access to Pages</h3>
                    <input type="hidden" id="selectedPagesJson" name="SelectedPagesJson" />
                    <div id="selectedPages" class="scrollableProfile">
                    </div>
                </div>
            </div>

            <!-- Categories -->
            <div class="container form-control border-2 mb-2" id="categoriesSection" style="display:flex;justify-content:space-around;height:auto;">
                <!-- Only Side -->
                <div class="ms-2 me-4 mt-2 mb-2" style="align-self:flex-start">
                    <h3>Access to Categories</h3>
                    <input type="hidden" id="selectedCategoriesJson" name="SelectedCategoriesJson" />
                    <div id="selectedCategories" class="scrollableProfile">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/userProfile.js" asp-append-version="true"></script>
    <script>
        // Serialize the pages and categories models into JSON objects
        var availablePagesLst = @Html.Raw(Json.Serialize(Model.PagesData));
    </script>
}